<main>

  <section class="conteudo01">
    <div class="foto01"><a href="https://jumperbrasil.lance.com.br/em-duelo-com-lebron-victor-wembanyama-bate-recorde-de-jordan/" target="_blank"><img src="../../../assets/img/victor wembanyama.jpg" alt="Victor wembanyama"></a></div>
    <h2>Em duelo com LeBron, Victor Wembanyama bate recorde de Jordan</h2>
    <p  class="texto-ESP">Victor Wembanyama fez história e bateu uma marca de Michael Jordan no duelo contra o Los Angeles Lakers de LeBron James. A vitória não veio nessa sexta-feira (23), mas ele atingiu uma marca rara com o San Antonio Spurs. A primeira escolha do Draft produziu o primeiro jogo de five by five da NBA, em quase cinco anos. Foi apenas a 22ª vez na história que isso ocorreu.</p>
    <p class="texto-ESP">O feito raro é descrito por alguém que consegue produzir em um mesmo jogo: cinco pontos, cinco rebotes, cinco assistências, cinco roubos de bola e cinco tocos. Wembanyama foi o 15º atleta a atingir tal marca em todos os tempos. E igualou algo que só Michael Jordan havia feito na NBA. O francês fez dois jogos consecutivos com pelo menos cinco roubos de bola e cinco tocos. A lenda do Chicago Bulls fez o mesmo em 1987.</p>
    <p class="texto-ESP">O calouro anotou 27 pontos, dez rebotes, oito assistências, cinco roubos de bola e cinco tocos no duelo contra o Lakers. Porém, foi derrotado em grande desempenho de LeBron James e Anthony Davis. O ala marcou 30 pontos, nove rebotes e sete passes decisivos, enquanto o pivô fez 28 pontos e 13 rebotes.</p>
  </section>
  <section class="conteudo02">
    <div class="foto02">
      <a href="">
      <img src="../../../assets/img/jacare.png" alt="">
      <h2>Jacarés mudam pulmões de lugar para controlar mergulho, diz cientista</h2>
    </a>
    </div>
    <div class="foto03"><a href=""></a><img src="../../../assets/img/" alt=""></div>
    <div class="fotos03"><a href=""></a><img src="../../../assets/img/" alt=""></div>
  </section>
</main>