.conteudo01 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
}

.foto01 {
  width: 100%; /* Modificado para ocupar 100% da largura do contêiner */
  max-height: 600px; /* Adicionado para garantir que a altura não ultrapasse 450px */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Adicionado para garantir que a imagem não ultrapasse os limites do contêiner */
}

img {
  max-width: 100%;
  max-height: 100%;
}

.conteudo01 h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}

.texto-ESP{
  margin: 5px;
  font-size: 1.3rem;
}

.conteudo02{
  border: 2px solid rgb(0,0,0);
  display: grid;
  grid-template-areas: 
  "c1 c2 c3";
}

