<ul>
  <li><a href='http://localhost:3007/home'>home</a></li>
  <li><a href='http://localhost:3007/formulario'>formulário</a></li>
  <li><a href='http://localhost:3007/listar'>listar</a></li>
  <li><a href='http://localhost:3007/editar'>editar</a></li>

</ul>