<ul>
  <li><a href='http://localhost:2023/home'>home</a></li>
  <li><a href='http://localhost:2023/formilario'>formulário</a></li>
  <li><a href='http://localhost:2023/listar'>listar</a></li>
  <li><a href='http://localhost:2023/editar'>editar</a></li>

</ul>