* {
  text-align: center;
}

.container {
  width: 80%;
  height: 700px;
  border: 3px solid purple;
  margin: 0px auto;
  box-shadow: purple 1px 1px 5px 2px;
}

.topo {
  width: 100%;
  height: 80px;
  text-align: center;
  border: 4px solid blue;
  background-color: blue;
}
.menu{
  border: 3px solid orange;
  width: 100%;
  height: 50px;
}

.conteudo {
  border: 4px solid red;
  width: 100%;
}
