body {
  margin: 10px;
}

h1 {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;text-transform: uppercase;
}
h2{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

p {
 line-height: 20px;
  font-family: 'Hind Guntur', sans-serif;
}
