/* Seletor universal */
* {
  margin: 0px auto;
  padding: 0px;
}

#conteudoGeral {
  border: 1px solid black;
  max-width: 80%;
  height: 800px;
}

#topo {
  border: 1px solid blue;
  max-width: 1024px;
  height: 70px;
}

#menu {
  border: 1px solid green;
  max-width: 1024px;
  height: 50px;
 
}

#conteudo {
  border: 1px solid yellow;
  max-width: 1024px;
  height: 640px;
}

#rodape{
  border: 1px solid red;
  max-width: 1024px;
  height: 40px;
}

