body{
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
  color: white;
  margin-bottom: 5px ;
  text-align: center;
}

.container{
  background: #333;
  border-radius: 4px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 30px;
}

.eventoTopo{
  background: white;
  margin: 0px;
  border-radius: 2px;
  padding: 30px;
}

 h2{
  margin: 0px;
}

.eventoTopo p{
  font-size: 15px;
}

.evento p{
  font-size: 15px;
}
.eventoFinal p{
  font-size: 15px;
}


.evento{
  background: white;
  margin-top: 20px;
  border-radius: 2px;
  padding: 30px;
}
.eventoFinal{
  background: white;
  margin-top: 20px;
  border-radius: 2px;
  padding: 30px;
}

.data{
  color: #ff6400
}

.local{
  color: #ff6400;
}

.botao{
  background: #d86700;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.rodape p{
  color: white;
  text-align: center;
}