<main class="conteudoPrin">
  <section>
    <h1 class="titulo">Quem Sou Eu?</h1>
  </section>
  <section class="containerFoto">
    <img src="../../../assets/img/WhatsApp Image 2024-02-01 at 19.16.56.jpeg" alt="">
  </section>
  <section class="paragrafo">
    <p>Olá, meu nome é Jean Pires Moreira dos Santos, estou estudando para me tornar um Desevolvedor Full-Stack. Atualmente, estou participando da Residência em TIC do Serratec em parceria com o Senac, onde já adquiri conhecimentos em linguagens como HTML, CSS e TypeScript. Sou uma pessoa extremamente esforçada e dedicada, sempre em busca de aprimoramento. Estou disponível para colaborar e contribuir no que for necessário. Caso precise de minha ajuda, por favor, não hesite em entrar em contato.</p>
  </section>
</main>
